<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style type="text/css">
        .center {
            display: flex;
            align-self: center;
            justify-content: center
        }
    </style>
</head>
<body>
    <div class="center">
        <img id="dog" src="https://stickershop.line-scdn.net/stickershop/v1/sticker/385523464/android/sticker.png">
    </div>
</body>
<script>
    let timeoutID = window.setInterval(check, 3000);
    const dog_pic = document.getElementById("dog");

    async function check(){
        const response = await fetch('http://127.0.0.1:5000/imgurl');
        const data = await response.json();
        if(data.imgurl !='')
            dog_pic.setAttribute('src', '/static/img/'+data.imgurl);
    }
</script>
</html>